---
import Layout from "../layouts/Layout.astro";
import Officer from "@/components/Officer";
import { adviser, committees } from "@/utils/constants";
import Hero from "@/components/Hero.astro";
import {
  getAdviserByTerm,
  getCommitteeByTerm,
  getOfficersByTerm,
  getPosts,
  getTerm,
} from "@/utils/sanity/client";
import { imageUrlFor } from "@/utils/sanity";
import Events from "@/components/Events";
import { Picture } from "astro:assets";

const posts = await getPosts();
const getCurrTerm = await getTerm();
const fetchAdviser = await getAdviserByTerm(getCurrTerm.current_term);
const fetchOfficers = await getOfficersByTerm(getCurrTerm.current_term);
const fetchCommitteeHeads = await getCommitteeByTerm(getCurrTerm.current_term);
// console.log(posts);
// console.log(fetchAdviser);
// console.log(fetchOfficers);
---

<Layout title="Index">
  <Hero />
  <section class="py-12 px-4 md:px-20">
    <Events posts={posts} limit={true} client:load />
  </section>
  <section
    class="py-12 p-4 shadow-[inset_0_2px_4px_2px_rgb(0,0,0,0.05)] w-full bg-theme_text-light backdrop-filter backdrop-blur-xl bg-opacity-30"
  >
    <div class="text-3xl font-bold text-center">ADVISER</div>
    <div class="text-sm font-light text-center pb-8">
      S.Y. {getCurrTerm.current_term}
    </div>
    <div>
      <a href="mailto:enigma@umindanao.edu.ph"></a>
    </div>
    <div class="flex justify-center pb-12">
      <Officer
        first_name={fetchAdviser.first_name}
        last_name={fetchAdviser.last_name}
        position={fetchAdviser.position.title}
        term={fetchAdviser.current_term}
        photo={fetchAdviser.image}
        client:load
      />
    </div>
    <div class="text-3xl font-bold text-center">OFFICERS</div>
    <div class="text-sm font-light text-center pb-8">
      S.Y. {getCurrTerm.current_term}
    </div>
    <div class="flex justify-center gap-2 flex-wrap pb-12">
      {
        fetchOfficers.map((officer) => (
          <Officer
            first_name={officer.first_name}
            last_name={officer.last_name}
            position={officer.position.title}
            program={officer.program}
            year_level={officer.year_level}
            term={officer.current_term}
            photo={officer.image}
            client:load
          />
        ))
      }
    </div>
    <div class="text-3xl font-bold text-center">COMMITTEES</div>
    <div class="text-sm font-light text-center pb-8">
      S.Y. {getCurrTerm.current_term}
    </div>
    <div class="flex justify-center gap-2 flex-wrap">
      {
        fetchCommitteeHeads.map((committee) => (
          <Officer
            first_name={committee.first_name}
            last_name={committee.last_name}
            position={committee.position.title}
            program={committee.program}
            year_level={committee.year_level}
            term={committee.current_term}
            photo={committee.image}
            client:load
          />
        ))
      }
    </div>
  </section>
</Layout>
