---
import { Separator } from "@/components/ui/separator";
import Layout from "../layouts/Layout.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { ArrowRight, ChevronLeft, ChevronRight } from "lucide-react";
import { ScrollArea } from "@/components/ui/scroll-area";
import Officer from "@/components/Officer";
import { list, adviser, officers, committees } from "@/utils/constants";
import { Button } from "@/components/ui/button";
import Hero from "@/components/Hero.astro";
import Events from "@/components/Events";
import Officers from "@/components/Officers";
import { getPosts } from "@/utils/sanity/client";

const posts = await getPosts();
---

<Layout title="Index">
  <Hero />
  <!-- TODO: add limit to page Events -->
  <Events posts={posts} limit={true} client:load />
  <section
    class="py-12 p-4 shadow-[inset_0_2px_4px_2px_rgb(0,0,0,0.05)] w-full bg-theme_text-light backdrop-filter backdrop-blur-xl bg-opacity-30"
  >
    <div class="text-3xl font-bold text-center">ADVISER</div>
    <div class="text-sm font-light text-center pb-8">S.Y. 2023-2024</div>
    <div>
      <a href="mailto:um.cce.enigma@gmail.com"></a>
    </div>
    <div class="flex justify-center pb-12">
      <Officer
        first_name={adviser.first_name}
        last_name={adviser.last_name}
        position={adviser.position}
        term={adviser.term}
        client:load
      />
    </div>
    <div class="text-3xl font-bold text-center">OFFICERS</div>
    <div class="text-sm font-light text-center pb-8">S.Y. 2023-2024</div>
    <Officers client:load />
    <div class="text-3xl font-bold text-center">COMMITTEES</div>
    <div class="text-sm font-light text-center pb-8">S.Y. 2023-2024</div>
    <div class="flex justify-center gap-2 flex-wrap">
      {
        committees.map((committee) => (
          <Officer
            first_name={committee.first_name}
            last_name={committee.last_name}
            position={committee.position}
            program={committee.program}
            year_level={committee.year_level}
            term={committee.term}
            client:load
          />
        ))
      }
    </div>
  </section>
  <section class="py-12 px-4">about/else</section>
</Layout>@/components/Events
