---
import Layout from "../layouts/Layout.astro";
import Officer from "@/components/Officer";
// import { adviser, committees } from "@/utils/constants";
import Hero from "@/components/Hero.astro";
import {
  getAdviserByTerm,
  getCommitteeByTerm,
  getOfficersByTerm,
  getPosts,
  getTerm,
} from "@/utils/sanity/client";
import { imageUrlFor } from "@/utils/sanity";
import Events from "@/components/Events";
import Officers from "@/components/Officers";

const posts = await getPosts();
const currentTerm = await getTerm();
const adviser = await getAdviserByTerm(currentTerm.current_term);
const officers = await getOfficersByTerm(currentTerm.current_term);
const committeeHeads = await getCommitteeByTerm(currentTerm.current_term);
---

<Layout title="Index">
  <Hero />
  <section class="py-12 mx-4 md:px-20">
    <Events posts={posts} limit={true} client:only="react" />
  </section>
  <section
    class="py-12 p-4 shadow-[inset_0_2px_4px_2px_rgb(0,0,0,0.05)] w-full bg-theme_text-light backdrop-filter backdrop-blur-xl bg-opacity-30"
  >
    <Officers
      {adviser}
      {officers}
      committeeHeads={committeeHeads}
      currentTerm={currentTerm.current_term}
      client:only="react"
    />
  </section>
</Layout>
