---
import Layout from "@/layouts/Layout.astro";
import { getPost, getPosts } from "@/utils/sanity/client";
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "../../components/portabletext";
import { formatDate, imageUrlFor } from "@/utils/sanity";
import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar";
import { ChevronLeft, Copy } from "lucide-react";
import EventHeader from "@/components/EventHeader";
import { Separator } from "@/components/ui/separator";
import type { BaseHeadProps } from "@/components/BaseHead.astro";

export async function getStaticPaths() {
  const posts = await getPosts({});
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

export const prerender = true;

const post = await getPost(slug);
const shareUrl = Astro.url.href;

export interface Props {
  seo?: BaseHeadProps;
}

const { seo } = Astro.props;
const page_seo = {
  ...seo,
  title: post.title,
};
---

<Layout seo={page_seo}>
  <div class="relative w-full h-[150px]">
    <div
      class="absolute inset-0 bg-center bg-cover"
      style={{
        backgroundImage: `url(${post.mainImage}`,
      }}
    >
    </div>
    <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent">
    </div>
  </div>
  <article
    class="relative w-full px-6 py-12 md:max-w-3xl md:mx-auto lg:max-w-4xl lg:pt-16 lg:pb-28"
  >
    <div class="prose prose-slate mx-auto lg:prose-lg">
      <div class="not-prose">
        <a href="/events">
          <div
            class="flex items-center text-theme_accent-light hover:text-theme_accent-light/80"
          >
            <ChevronLeft width={20} height={20} />
            <span class="text-lg">Go Back</span>
          </div>
        </a>
        <EventHeader post={post} url={shareUrl} client:load />
      </div>
      <Separator className="h-0.5 rounded-full" />
      <PortableText value={post.body} />
    </div>
  </article>
</Layout>
