---
import Layout from "@/layouts/Layout.astro";
import { getPost, getPosts } from "@/utils/sanity";
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "../../components/portabletext"

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
  // return [{ params: { slug: "event-1" } }];
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);


---

<Layout title=`${post.title}`>
<div>
  <center>{post.mainImage ? 
    <img src={`${post.mainImage}`}/>:''}</center>
      <center><h1>{post.title}</h1></center>
      <p>{post.slug.current}</p>
      <PortableText value={post.body}/>

</Layout>
