---
import Layout from "@/layouts/Layout.astro";
import TeamCard from "@/components/TeamCard.astro";
import { core_officers } from "@/data/team";
---

<Layout title="The Team | Enigma">
  <div class="text-3xl font-bold text-center">ADVISER</div>
  <div class="flex justify-center pb-12"></div>
  <div class="text-3xl font-bold text-center">OFFICERS</div>
  <div class="flex justify-center gap-2 flex-wrap pb-12">
    {
      core_officers.map((officer) => (
        <TeamCard
          first_name={officer.first_name}
          last_name={officer.last_name}
          position={officer.position}
          image={officer.imageUrl}
        />
      ))
    }
  </div>
  <div class="text-3xl font-bold text-center">COMMITTEES</div>
  <div class="text-sm font-light text-center pb-8">
    <!-- S.Y. {getCurrTerm.current_term} -->
  </div>
</Layout>
