---
import EventCard from "./EventCard.astro";
import { getEvents } from "@/hooks/getEvents";
// const { events } = Astro.props;
const events = await getEvents();
---

<section class="px-4">
  {
    events.map((event) => (
      <EventCard
        title={event.title}
        slug={event.slug}
        description={event.description}
        location={event.location}
        timeStart={event.timeStart}
        timeEnd={event.timeEnd}
      />
    ))
  }
</section>
