---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "./ui/card";
import { Image } from "astro:assets";
import CalendarDateCard from "./CalendarDateCard.astro";
import LocationCard from "./LocationCard.astro";
import Tag from "./Tag.astro";

const { title, slug, description, location, timeStart, timeEnd, image } =
  Astro.props;
const cardStyle =
  "max-w-[800px] mx-auto rounded-2xl p-2  my-6 shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out cursor-pointer";
---

<Card className={cardStyle}>
  <a href={`/events/${slug}`}>
    <div class="">
      <Image
        src={image}
        alt={title}
        width="800"
        height="500"
        class="rounded-xl"
      />
    </div>
  </a>
  <CardHeader className="px-2 md:px-4">
    <div class="flex items-start justify-between">
      <div class="space-y-2">
        <CardTitle>
          <p class="font-bold md:text-3xl">{title}</p>
        </CardTitle>
        <CardDescription className="line-clamp-1">
          {description}
        </CardDescription>
      </div>
      <div class="hidden md:block">
        <CalendarDateCard
          month={timeStart.month}
          date={timeStart.date}
          isLarge={true}
        />
      </div>
    </div>
  </CardHeader>
  <CardContent
    className="px-2 md:px-4 flex flex-col gap-y-4 md:flex-row md:gap-x-8 justify-between"
  >
    <div class="flex flex-col gap-y-4 md:flex-row gap-x-8">
      <div class="flex gap-x-4 items-center">
        <div>
          <CalendarDateCard
            month={timeStart.month}
            date={timeStart.date}
            isLarge={false}
          />
        </div>

        <div class="flex flex-col">
          <p class="text-sm font-bold">
            {`${timeStart.dayOfWeek}, ${timeStart.month} ${timeStart.date}`}
          </p>
          <p class="text-sm text-gray-600">{timeStart.time} - {timeEnd.time}</p>
        </div>
      </div>

      <div class="flex gap-x-4 items-center">
        <div><LocationCard /></div><div class="text-sm font-bold">
          {location}
        </div>
      </div>
    </div>
    <!-- <div class="w-52 flex flex-col justify-between">
      <div></div>
      <div class="flex flex-wrap md:flex-wrap-reverse md:justify-end">
        <Tag bgColor={"bg-rosecherry-300"} tagname={"cherry"} />
        <Tag
          bgColor={"bg-bahamablue-700"}
          textColor={"text-white"}
          tagname={"internal"}
        />
        <Tag bgColor={"bg-bahamablue-300"} tagname={"webvember"} />
      </div>
    </div> -->
  </CardContent>
</Card>
