---
import TeamCard from "@/components/TeamCard.astro";

import { getCore } from "@/hooks/getCore";
import { getCommitteeHeads } from "@/hooks/getCommitteeHeads";
import { getCommittees } from "@/hooks/getCommittees";
import { getAdviser } from "@/hooks/getAdviser";
const adviser = await getAdviser();
const core_officers = await getCore();
const core_committees = await getCommitteeHeads();
const committees = await getCommittees();
---

<div class="text-5xl lg:text7xl font-bold text-center pt-8">
  Meet the <span
    class="bg-gradient-to-r from-bahamablue-900 via-bahamablue-700 to-rosecherry-700 bg-clip-text text-transparent"
    >Team</span
  >✨
</div>
<div class="flex justify-center text-justify py-8 px-8">
  Meet the dedicated team driving the operations of ENIGMA, the student
  organization at the University of Mindanao. Comprising passionate individuals
  from diverse backgrounds, this dynamic group works collaboratively to empower
  students in the field of Computer Science, and Information Technology.
</div>
<div id="adviser" class="text-3xl font-bold text-center">Adviser</div>
<div class="flex justify-center pb-12">
  {
    adviser.map((adviser) => (
      <TeamCard
        first_name={adviser.first_name}
        last_name={adviser.last_name}
        position={adviser.position}
        image={adviser.imageUrl}
      />
    ))
  }
</div>
<div id="officers" class="text-3xl font-bold text-center">Officers</div>
<div class="flex justify-center text-justify py-8 px-8">
  From skilled mentors to visionary leaders, the team is committed to fostering
  an environment that nurtures learning, innovation, and camaraderie. Together,
  they shape the organization's initiatives, ensuring students are equipped with
  the knowledge and skills essential for success in the ever-evolving world of
  technology.
</div>
<div class="flex justify-center gap-2 flex-wrap pb-12">
  {
    core_officers.map((officer) => (
      <TeamCard
        first_name={officer.first_name}
        last_name={officer.last_name}
        position={officer.position}
        image={officer.imageUrl}
        year_level={officer.year_level}
        program={officer.program}
      />
    ))
  }
</div>
<div id="committee_heads" class="text-3xl font-bold text-center">
  Committee Heads
</div>
<div class="flex justify-center gap-2 flex-wrap pb-12">
  {
    core_committees.map((core_committee) => (
      <TeamCard
        first_name={core_committee.first_name}
        last_name={core_committee.last_name}
        position={core_committee.position}
        image={core_committee.imageUrl}
        year_level={core_committee.year_level}
        program={core_committee.program}
      />
    ))
  }
</div>
<div id="creatives" class="text-3xl font-bold text-center">Creatives</div>
<div class="flex justify-center gap-2 flex-wrap pb-12">
  {
    committees
      .filter((position) => position.position.toLowerCase() == "creatives")
      .map((creatives) => (
        <TeamCard
          first_name={creatives.first_name}
          last_name={creatives.last_name}
          position={creatives.position}
          image={creatives.imageUrl}
          year_level={creatives.year_level}
          program={creatives.program}
        />
      ))
  }
</div>
<div id="logistics" class="text-3xl font-bold text-center">Logistics</div>
<div class="flex justify-center gap-2 flex-wrap pb-12">
  {
    committees
      .filter((position) => position.position.toLowerCase() == "logistics")
      .map((creatives) => (
        <TeamCard
          first_name={creatives.first_name}
          last_name={creatives.last_name}
          position={creatives.position}
          image={creatives.imageUrl}
          year_level={creatives.year_level}
          program={creatives.program}
        />
      ))
  }
</div>
<div id="documentations" class="text-3xl font-bold text-center">
  Documentations
</div>
<div class="flex justify-center gap-2 flex-wrap pb-12">
  {
    committees
      .filter((position) => position.position.toLowerCase() == "documentations")
      .map((creatives) => (
        <TeamCard
          first_name={creatives.first_name}
          last_name={creatives.last_name}
          position={creatives.position}
          image={creatives.imageUrl}
          year_level={creatives.year_level}
          program={creatives.program}
        />
      ))
  }
</div>
