---
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
import type { InferGetStaticParamsType } from "astro";

import { getEvents } from "@/hooks/getEvents";

export async function getStaticPaths() {
  const events = await getEvents();
  return events.map(
    ({ slug, title, timeEnd, timeStart, location, description, time }) => {
      return {
        params: { slug },
        props: { title, timeEnd, timeStart, location, description, time },
      };
    },
  );
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;
const { title, timeEnd, timeStart, location, description, time } = Astro.props;
---

<Layout title={"Event Slug"}>
  <div>this is a {title}</div>
  <div>this is a {description}</div>
  <div class="relative w-full h-[150px]">
    <!-- <div
      class="absolute inset-0 bg-center bg-cover"
      style={{
        backgroundImage: `url(${post.mainImage}`,
      }}
    >
    </div> -->
    <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent">
    </div>
    <div class="absolute inset-0 bg-white bg-opacity-50"></div>
  </div>
  <article class="max-w-5xl mx-auto">
    <div class="mt-6 mx-auto prose">
      <div class="not-prose">
        <h1 class="text-4xl font-bold">
          <!-- {post.title} -->
        </h1>
        <!-- {post.author && <Author {post} client:load />} -->
      </div>
      <!-- <PortableText value={post.body} /> -->
    </div>
  </article>
</Layout>
