---
import Layout from "@/layouts/Layout.astro";
import type { InferGetStaticParamsType } from "astro";
import { Image } from "astro:assets";

import { getEvents } from "@/hooks/getEvents";
import CalendarDateCard from "@/components/CalendarDateCard.astro";
import LocationCard from "@/components/LocationCard.astro";

const { slug } = Astro.params;

const event = await getEvents().then((event) => {
  return event.find((event) => event.slug === slug);
});

if (!event) {
  return Astro.redirect("/404");
}

const { title, timeEnd, timeStart, location, description, time, imageUrl } =
  event;
---

<Layout title={`${title} | Enigma`}>
  <article class="max-w-[800px] mx-auto px-4 py-8 md:px-0">
    <div class="grid grid-rows-2 sm:grid-cols-2 sm:grid-rows-1 gap-4">
      <div class="">
        <Image
          src={imageUrl!}
          alt={title}
          width="800"
          height="500"
          class="rounded-xl"
        />
      </div>
      <div>
        <div class="space-y-2">
          <div>
            <p class="font-bold text-3xl">{title}</p>
          </div>
          <div class="md:max-w-[500px] md:truncate text-gray-900 pb-4">
            {description}
          </div>
        </div>
        <div class="flex flex-col gap-y-4 gap-x-8">
          <div class="flex gap-x-4 items-center">
            <div>
              <CalendarDateCard
                month={timeStart.month}
                date={timeStart.date}
                isLarge={false}
              />
            </div>

            <div class="flex flex-col">
              <p class="text-sm font-bold">
                {`${timeStart.dayOfWeek}, ${timeStart.month} ${timeStart.date}`}
              </p>
              <p class="text-sm text-gray-600">
                {timeStart.time} - {timeEnd.time}
              </p>
            </div>
          </div>

          <div class="flex gap-x-4 items-center">
            <div><LocationCard /></div><div class="text-sm font-bold">
              {location}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</Layout>
